<ion-content>
  <app-header></app-header>
  <!-- Contenido del Login -->
  <div class="login">
    <h1>Ingrese sus datos</h1>
    <ion-item class="ingresoD">
      <ion-input [(ngModel)]="usuario" label="Email" label-placement="floating" fill="solid"></ion-input>
    </ion-item>
    <ion-item class="ingresoD">
      <ion-input [(ngModel)]="clave" type="password"  label="Contraseña" label-placement="floating" fill="solid"></ion-input>
    </ion-item>
    <!-- Mostrar mensaje de error si el login falla -->
    <ion-text color="danger" *ngIf="loginFailed">
      Usuario o clave incorrectos.
    </ion-text>
    <!-- Botón para recuperar contraseña-->
    <ion-item>
      <ion-button shape="round" fill="outline" (click)="forgotPassword()">Olvidé mi contraseña</ion-button>
    </ion-item>
    <div class="btn">
      <ion-button shape="round" (click)="login(usuario, clave)">Iniciar sesión</ion-button>
    </div>
    <ion-item>
      <ion-button shape="round" fill="outline" (click)="registrar()">¿Aun no tienes cuenta?</ion-button>
    </ion-item>
  </div>
  <app-footer></app-footer>
</ion-content>
