<div class="cabecera">
  <img src="./assets/img/logo duoc.png" alt="" class="logo">
  <div class="content">
    <h2>RegistrAPP</h2>
    @if (direccion === ''){
      <p>Hola, porfavor inicie sesion</p>
      <div class="links">
        <!-- <a [routerLink] = "['/home']">Home</a> -->
        <a [routerLink] = "['/login']">Iniciar Sesion</a>
      </div>
    }
    @if (direccion){
      <p>Bienvenido: {{direccion}}</p>
      <div class="links">
        <!-- <a [routerLink] = "['/home']">Home</a> -->
        <a [routerLink] = "['/logout']">Cerrar Sesion</a>
      </div>
    }
  </div>
</div>
