<ion-content>
  <ion-header>
    <app-header></app-header>
  </ion-header>

  <ion-accordion-group expand="inset" id="acordion">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Horario</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Por asignar</div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Descripcion asignatura</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis necessitatibus libero odio laudantium, pariatur quas vero minus optio. Reprehenderit autem minima nam maiores asperiores cumque culpa. Ex deserunt ipsam iste.</div>
    </ion-accordion>
  </ion-accordion-group>

    <div class="links">
      <a [routerLink]="['/assistance']">Escanear Asistencia</a>
      <a [routerLink]= "['/alumno']">Volver a las asignaturas</a>
    </div>

  <app-footer></app-footer>

</ion-content>
